alembic
auth-lib-profcomff[fastapi]
fastapi==0.108.0
fastapi-sqlalchemy
gunicorn
logging-profcomff
psycopg2-binary
pydantic[dotenv]
SQLAlchemy
uvicorn
pydantic-settings
event_schema_profcomff
confluent_kafka
